.col {
    background-color: #ece2c8;
}

.btn-outline-secondary:active {
    background-color: #6c757d;
    border-color: #6c757d;
}

.complete {
    visibility: hidden;
}

.btn-outline-secondary:hover > .complete {
    visibility: visible;
}

.complete:active {
    visibility: visible;
}